.register-all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top:0%;
  left: 0%;
  right: 0%;
  background-image: url('https://res.cloudinary.com/dqti46fgn/image/upload/v1708742690/war_dxmyr2.webp');
  background-repeat: no-repeat;
  background-size: cover;

}

.register-container {
  width: 300px;
  padding: 20px;
  margin-left: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* background-color: #ffffff; */
  /* opacity: 0.5; */
  background-color: transparent;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); Set background color */
}

.register-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.register-fields input[type="text"],
.register-fields input[type="tel"],
.register-fields input[type="date"],
.register-fields input[type="email"],
.register-fields input[type="password"],
.register-fields button {
  width: 100%;
  padding: 10px 2px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-fields button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.register-fields button:hover {
  background-color: #0056b3;
}

.input-field{
  display: flex;
}