.main-page {
  background-image:url('https://res.cloudinary.com/dqti46fgn/image/upload/v1708742690/war_dxmyr2.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 50px;
  
}

.button-container {
  margin-top: 20px;
}

.admin-button,
.user-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

.gif-container {
  margin-top: 50px;
}

/* You can add more CSS styling as needed */
