.navbar {
    background-color: white;
    color: black;
  }
  
  .navbar__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 65%;
    margin-top: -3%;
  }
  .navbar__item1 {
    margin-right: 45%;
  }

  
  .navbar__item {
    display: inline-block;
    margin-right: 20px;
  }
  .mainpageimage{
   
    width: 100%;
    height: 92vh;
    
  }
  .navbar__link {
    text-decoration: none;
    color: black;
  }
  
  .navbar__link:hover {
    color: black;
  }
  