.register-all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://res.cloudinary.com/dqti46fgn/image/upload/v1709709056/rgwp-transformed_jg1bey.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.register-container {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

.register-title {
  text-align: center;
}

.register-fields {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-bottom: 15px;
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.register-input {
  padding: 10px 30px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

.register-button {
  padding: 10px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.register-links {
  margin-top: 15px;
}

.register-links a {
  color: #007bff;
}

.register-links a:hover {
  color: #0056b3;
}
.register-content{
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-right: -5%;
  width: 51%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 25px;
  background-color: white;
  border-radius: 20px;

}
