.container {
  position: relative;
}

.image-container {
  position: relative;
  width: 100%;
}

.background-image {
  width: 1517px;
  height: 705px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.overlay h1 {
  font-size: 2.5rem;
  margin-top: -55%;
}
.mph1{
  line-height: 7.1;
}
.overlay button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
