.registration-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .registration-container  {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .registration-container label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .registration-container input[type="text"],
  .registration-container input[type="date"],
  .registration-container input[type="tel"],
  .registration-container input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .registration-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registration-container input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .registration-container small {
    color: #666;
  }
  